<div class="banners">
  <div class="container">
    <div class="banners__inner">
      <div class="banners__item banners__item--fruit" style="background-image: url('images/banners/fruits.jpg')">
        <span class="banners__subtitle">свежайшие фрукты</span>
        <h3 class="banners__title">
          начни фруктовое лето
          <span class="banners__text">всего от 99 ₽</span>
        </h3>
        <a class="banners__link banners__link--fruit" href="#">
          перейти к покупкам
        </a>
      </div>

      <div class="banners__item banners__item--vegs" style="background-image: url('images/banners/vegs.jpg')">
        <span class="banners__subtitle">сезонная распродажа</span>
        <h3 class="banners__title">
          овощепад
          <span class="banners__text">до -50%</span>
        </h3>
        <a class="banners__link" href="#">
          перейти к покупкам
        </a>
      </div>

      <div class="banners__item banners__item--bread" style="background-image: url('images/banners/bread.jpg')">
        <span class="banners__subtitle">ням-ням</span>
        <h3 class="banners__title">
          свежий
          <span class="banners__text">хлебчик</span>
        </h3>
        <a class="banners__link" href="#">
          перейти к покупкам
        </a>
      </div>
    </div>
  </div>
</div>