<div class="brands">
  <div class="container">
    <ul class="brands__inner">
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/sprite.svg" width="80px" height="59px" alt="спрайт">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/pepper.svg" width="80px" height="59px" alt="доктор пеппер">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/cola.svg" width="80px" height="59px" alt="кока кола">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/pepsi.svg" width="80px" height="59px" alt="пепси">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/redbull.svg" width="80px" height="59px" alt="ред булл">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/fanta.svg" width="80px" height="59px" alt="фанта">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/sprite.svg" width="80px" height="59px" alt="спрайт">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/pepper.svg" width="80px" height="59px" alt="доктор пеппер">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/cola.svg" width="80px" height="59px" alt="кока кола">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/pepsi.svg" width="80px" height="59px" alt="пепси">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/redbull.svg" width="80px" height="59px" alt="ред булл">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/fanta.svg" width="80px" height="59px" alt="фанта">
        </a>
      </li>
    </ul>
  </div>
</div>