<div class="delivery">
  <div class="container">
    <ul class="delivery__inner">
      <li class="delivery__item">
        <span class="delivery__title">Бесплатная доставка</span>
        <span class="delivery__descr">Для заказов на сумму от 500 ₽</span>
      </li>
      <li class="delivery__item delivery__item--return">
        <span class="delivery__title">Возврат товара</span>
        <span class="delivery__descr">Если товары были испорчены</span>
      </li>
      <li class="delivery__item delivery__item--support">
        <span class="delivery__title">Поддержка 24/7</span>
        <span class="delivery__descr">Лучшие операторы</span>
      </li>
    </ul>
  </div>
</div>