<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <a class="footer-top__logo" href="#">
        <img class="logo__image" width="200px" height="60px" src="images/logo.svg" alt="основной логотип">
      </a>
      <div class="footer-top__inner">
        <div class="footer-top__public">
          <span class="footer-top__text">Следите за нашими акциями</span>
          <form class="footer-top__subscribe">
            <label class="sr-only">введите свой и-мейл</label>
            <input class="footer-top__input" type="text" name="subscribe" placeholder="email@email.com">
            <button class="footer-top__btn" type="submit">подписаться</button>
          </form>
        </div>
        <nav class="footer-top__linkbox">
          <ul class="footer-top__links">
            <li class="footer-top__links-item">
              <a class="footer-top__link" href="#">О нас</a>
            </li>
            <li class="footer-top__links-item">
              <a class="footer-top__link" href="#">Оплата и доставка</a>
            </li>
            <li class="footer-top__links-item">
              <a class="footer-top__link" href="#">Отзывы</a>
            </li>
            <li class="footer-top__links-item">
              <a class="footer-top__link" href="#">Контакты</a>
            </li>
            <li class="footer-top__links-item">
              <a class="footer-top__link" href="#">Вакансии</a>
            </li>
            <li class="footer-top__links-item">
              <a class="footer-top__link" href="#">Новости</a>
            </li>
            <li class="footer-top__links-item">
              <a class="footer-top__link" href="#">Публичная оферта</a>
            </li>
            <li class="footer-top__links-item">
              <a class="footer-top__link" href="#">Акции</a>
            </li>
          </ul>
        </nav>
        <div class="footer-top__contact">
          <div class="footer-top__tel">Горячая линия <a href="tel:7907288365">+7 907 288 365</a></div>
          <address class="footer-top__address">Санкт-Петербург, ул. Ленина, 1</address>
          <ul class="footer-top__social">
            <li class="footer-top__social-item">
              <svg>
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </li>
            <li class="footer-top__social-item">
              <a class="footer-top__social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="footer-top__social-item">
              <a class="footer-top__social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-top__social-item">
              <a class="footer-top__social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__inner">
        <span class="footer-bottom__text">© 2021 фрешок</span>
        <ul class="footer-bottom__payment">
          <li class="footer-bottom__visa">
            <svg>
              <use xlink:href="images/sprite.svg#visa"></use>
            </svg>
          </li>
          <li class="footer-bottom__master">
            <svg>
              <use xlink:href="images/sprite.svg#mastercard"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>