<header class="header">
  <div class="header-top">
    <div class="container">
      <nav class="header-top__inner">
        <div class="header-top__contact">
          <a class="header-top__adress" href="#">
            адрес и время доставки
          </a>
          <a class="header-top__tel" href="#">
            горячая линия 24/7
          </a>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">
                доставка
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                о нас
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                новости
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="header-main">
    <div class="container">
      <nav class="header-main__inner">
        <a class="logo" href="#">
          <img class="logo__image" width="200px" height="60px" src="images/logo.svg" alt="логотип">
        </a>
        <ul class="header-main__select">
          <li class="header-main__select-item">
            <a class="header-main__select-link" href="#">
              Каталог продуктов
            </a>
            <ul class="header-main__sub-select">
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Овощи и фрукты
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Бакалея
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Молочные продукты
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Хлеб
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Мясо
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Колбаса
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Рыба
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Алкоголь
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Напитки
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Торты
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Мясо
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Чай, кофе
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="header-main__search">
          <span class="sr-only" for="search">Поиск</span>
          <input class="header-main__input" id="search" name="search" placeholder="Найти в магазине..." type="search">
          <button class="header-main__btn" type="submit">поиск</button>
        </form>
        <div class="header-main__nav">
          <span class="sr-only">кнопки юзер, список желаний и корзина</span>
          <a class="header-main__nav-link" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#user-icon"></use>
            </svg>
          </a>
          <a href="#" class="header-main__nav-link">
            <svg>
              <use xlink:href="images/sprite.svg#heart-icon"></use>
            </svg>
            <span class="header-main__num">12</span>
          </a>
          <a href="#" class="header-main__nav-link">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="header-main__num">12</span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>