<header class="header">
  <div class="header-top">
    <div class="burger">
      <div class="burger__top">
        <svg class="burger__logo">
          <use xlink:href="images/sprite.svg#burger-logo"></use>
        </svg>
        <svg class="burger__close">
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </div>

      <div class="burger__enter">
        <svg>
          <use xlink:href="images/sprite.svg#user-icon"></use>
        </svg>
        <a class="burger__signup" href="#"> Вход </a>
        <a class="burger__login" href="#"> Регистрация </a>
      </div>

      <div class="burger__catalogue">Каталог товаров</div>

      <div class="burger__contacts">
        <a class="burger__tel" href="tel:7907288365">+7 907 288 365</a>
        <address class="burger__address">
          Санкт-Петербург, ул. Ленина, 1
        </address>
        <ul class="burger__social">
          <li class="burger__social-item">
            <a class="burger__social-link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="burger__social-item">
            <a class="burger__social-link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="burger__social-item">
            <a class="burger__social-link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="burger__social-item">
            <a class="burger__social-link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <ul class="burger__links">
        <li class="burger__links-item">
          <a class="burger__links-link" href="#"> Доставка </a>
        </li>
        <li class="burger__links-item">
          <a class="burger__links-link" href="#"> О нас </a>
        </li>
        <li class="burger__links-item">
          <a class="burger__links-link" href="#"> Новости </a>
        </li>
        <li class="burger__links-item">
          <a class="burger__links-link" href="#">Контакты </a>
        </li>
        <li class="burger__links-item">
          <a class="burger__links-link" href="#"> Акции </a>
        </li>
        <li class="burger__links-item">
          <a class="burger__links-link" href="#"> Вакансии </a>
        </li>
        <li class="burger__links-item">
          <a class="burger__links-link" href="#"> Отзывы </a>
        </li>
        <li class="burger__links-item">
          <a class="burger__links-link" href="#"> Публичная оферта </a>
        </li>
      </ul>
    </div>

    <div class="container">
      <nav class="header-top__inner">
        <button class="burger-btn">
          <img src="images/icons/burger.svg" alt="burger" />
        </button>
        <div class="header-top__contact">
          <a class="header-top__adress" href="#">
            <span>адрес и время доставки</span>
          </a>
          <a class="header-top__tel" href="#">
            <span>горячая линия 24/7</span>
          </a>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#"> доставка </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#"> о нас </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#"> новости </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="header-main">
    <div class="container">
      <nav class="header-main__inner">
        <a class="logo" href="#">
          <svg class="logo__img">
            <use xlink:href="images/sprite.svg#logo"></use>
          </svg>
          <svg class="logo__text">
            <use xlink:href="images/sprite.svg#logo-text"></use>
          </svg>
        </a>
        <ul class="header-main__select">
          <li class="header-main__select-item">
            <a class="header-main__select-link" href="#">
              Каталог <span>продуктов</span>
            </a>
            <ul class="header-main__sub-select">
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Овощи и фрукты
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Бакалея </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link">
                  Молочные продукты
                </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Хлеб </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Мясо </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Колбаса </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Рыба </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Алкоголь </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Напитки </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Торты </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Мясо </a>
              </li>
              <li class="header-main__sub-select-item">
                <a href="#" class="header-main__sub-select-link"> Чай, кофе </a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="header-main__search">
          <span class="sr-only" for="search">Поиск</span>
          <input
            class="header-main__input"
            id="search"
            name="search"
            placeholder="Найти в магазине..."
            type="search"
          />
          <button class="header-main__btn" type="submit">поиск</button>
        </form>
        <div class="header-main__nav">
          <span class="sr-only">кнопки юзер, список желаний и корзина</span>
          <a
            class="header-main__nav-link header-main__nav-link--search"
            href="#"
          >
            <svg>
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>
          <a class="header-main__nav-link header-main__nav-link--user" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#user-icon"></use>
            </svg>
          </a>
          <a
            class="header-main__nav-link header-main__nav-link--heart"
            href="#"
          >
            <svg>
              <use xlink:href="images/sprite.svg#heart-icon"></use>
            </svg>
            <span class="header-main__num">12</span>
          </a>
          <a class="header-main__nav-link header-main__nav-link--cart" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="header-main__num">12</span>
          </a>
        </div>
      </nav>
    </div>
  </div>

  <form class="search">
    <span class="sr-only" for="search">Поиск</span>
    <input
      class="search__input"
      id="search"
      name="search"
      placeholder="Я ищу..."
      type="search"
    />
    <button class="search__btn" type="submit">поиск</button>
  </form>

  <div class="cart">
    <div class="cart__top">
      <div class="cart__box">
        <span class="cart__name"> Корзина </span>
        <button class="cart__clean" type="reset">очистить корзину</button>
      </div>
      <button class="cart__close">
        <svg>
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="cart__body">
      <div class="cart__item">
        <a class="cart__link" href="#">
          <img class="cart__img" src="images/cart/pineapple.jpg" alt="ананас" />
        </a>

        <div class="cart__item-inner">
          <div class="cart__item-box">
            <p class="cart__item-name">Ананас, 1 кг</p>
            <div class="cart__item-price">
              999<span class="cart__item-currency">₽</span>
            </div>
          </div>

          <div class="cart__item-box2">
            <button class="cart__item-cross">
              <svg>
                <use xlink:href="images/sprite.svg#close"></use>
              </svg>
            </button>
            <div class="cart__item-total">
              <div class="cart__item-quantity">
                <button class="cart__item-minus" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#minus"></use>
                  </svg>
                </button>
                <span class="cart__item-number">2</span>
                <button class="cart__item-plus" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
              <div class="cart__item-price">
                1998<span class="cart__item-currency">₽</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cart__item">
        <a class="cart__link" href="#">
          <img
            class="cart__img"
            src="images/cart/dragonfruit.jpg"
            alt="Питахайя"
          />
        </a>

        <div class="cart__item-inner">
          <div class="cart__item-box">
            <p class="cart__item-name">Питахайя красная с белой мякотью, 1шт</p>
            <div class="cart__item-price">
              1019<span class="cart__item-currency">₽</span>
            </div>
          </div>

          <div class="cart__item-box2">
            <button class="cart__item-cross">
              <svg>
                <use xlink:href="images/sprite.svg#close"></use>
              </svg>
            </button>
            <div class="cart__item-total">
              <div class="cart__item-quantity">
                <button class="cart__item-minus" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#minus"></use>
                  </svg>
                </button>
                <span class="cart__item-number">2</span>
                <button class="cart__item-plus" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#plus"></use>
                  </svg>
                </button>
              </div>
              <div class="cart__item-price">
                2038<span class="cart__item-currency">₽</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart__bottom">
      <div class="cart__bottom-result">
        <span class="cart__bottom-text"> Товаров на сумму </span>
        <div class="cart__bottom-price">
          2038<span class="cart__item-currency">₽</span>
        </div>
      </div>

      <button class="cart__bottom-submit">Оформить заказ</button>
    </div>
  </div>
</header>
