<section class="news">
  <div class="container">
    <div class="news__top">
      <h3 class="news__title title">
        наши новости
      </h3>
      <a class="news__all" href="#">
        все новости
      </a>
    </div>

    <ul class="news__main">
      <li class="news__item news__item--first">
        <article class="news__box">
          <a class="news__link" href="#">
            <div class="news__date">
              <span class="news__month">
                июль
              </span>
              <span class="news__day">
                15
              </span>
            </div>
            <img class="news__img" src="images/news/strawberry.jpg" width="410px" height="240px" alt="клубника">
          </a>
          <div class="news__text">
            <p>
              Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!
            </p>
          </div>
        </article>
      </li>

      <li class="news__item news__item--second">
        <article class="news__box">
          <a class="news__link" href="#">
            <div class="news__date">
              <span class="news__month">
                май
              </span>
              <span class="news__day">
                07
              </span>
            </div>
            <img class="news__img" src="images/news/mango.jpg" width="410px" height="240px" alt="манго">
          </a>
          <div class="news__text">
            <p>
              Шикарнейший выбор манго в нашем онлайн-маркете
            </p>
          </div>
        </article>
      </li>

      <li class="news__item news__item--third">
        <article class="news__box">
          <a class="news__link" href="#">
            <div class="news__date">
              <span class="news__month">
                февраль
              </span>
              <span class="news__day">
                20
              </span>
            </div>
            <img class="news__img" src="images/news/melone.jpg" width="410px" height="240px" alt="папайя">
          </a>
          <div class="news__text">
            <p>
              Всё, что вы хотели знать о папайя
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>