<section class="promo" data-ref="container-2">
  <div class="container">
    <h3 class="promo__title title">
      акции
    </h3>

    <ul class="filter">
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter="all">
          все товары
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter=".category-1">
          новинки
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter=".category-2">
          хиты
        </button>
      </li>
    </ul>

    <ul class="promo__content">
      <li class="promo__item mix category-1">
        <a class="promo__link" href="#">
          <img class="promo__image" src="../images/promo/pineapple.jpg" alt="ананас">
        </a>
        <div class="promo__box">
          <h4 class="promo__name">
            Ананас, 1 кг
          </h4>
          <div class="promo__info">
            <p class="promo__availability">
              в наличии
            </p>
            <div class="promo__bottom">
              <span class="promo__price">
                999<span class="promo__currency">₽</span>
              </span>
              <span class="promo__oldprice">
                1199<span class="promo__currency">₽</span>
              </span>
              <span class="promo__rating">
                4.5
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="promo__item mix category-1">
        <a class="promo__link" href="#">
          <img class="promo__image" src="../images/promo/coffee.jpg" alt="кофе">
        </a>
        <div class="promo__box">
          <h4 class="promo__name">
            Кофе с коноплей органический Caffé Salomoni 250г
          </h4>
          <div class="promo__info">
            <p class="promo__availability promo__availability--end">
              заканчивается
            </p>
            <div class="promo__bottom">
              <span class="promo__price">
                777<span class="promo__currency">₽</span>
              </span>
              <span class="promo__oldprice">
                877<span class="promo__currency">₽</span>
              </span>
              <span class="promo__rating">
                4.9
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="promo__item mix category-1">
        <a class="promo__link" href="#">
          <img class="promo__image" src="../images/promo/strawberry.jpg" alt="клубника">
        </a>
        <div class="promo__box">
          <h4 class="promo__name">
            Клубника, 1 кг
          </h4>
          <div class="promo__info">
            <p class="promo__availability promo__availability--none">
              нет в наличии
            </p>
            <div class="promo__bottom">
              <span class="promo__price">
                440<span class="promo__currency">₽</span>
              </span>
              <span class="promo__oldprice">
                600<span class="promo__currency">₽</span>
              </span>
              <span class="promo__rating">
                5.0
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="promo__item mix category-1">
        <a class="promo__link" href="#">
          <img class="promo__image" src="../images/promo/mango.jpg" alt="манго">
        </a>
        <div class="promo__box">
          <h4 class="promo__name">
            Манго, 1 шт
          </h4>
          <div class="promo__info">
            <p class="promo__availability">
              в наличии
            </p>
            <div class="promo__bottom">
              <span class="promo__price">
                660<span class="promo__currency">₽</span>
              </span>
              <span class="promo__oldprice">
                960<span class="promo__currency">₽</span>
              </span>
              <span class="promo__rating">
                5.0
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="promo__item mix category-1">
        <a class="promo__link" href="#">
          <img class="promo__image" src="../images/promo/salmon.jpg" alt="лосось">
        </a>
        <div class="promo__box">
          <h4 class="promo__name">
            Лосось, 1 кг
          </h4>
          <div class="promo__info">
            <p class="promo__availability">
              в наличии
            </p>
            <div class="promo__bottom">
              <span class="promo__price">
                999<span class="promo__currency">₽</span>
              </span>
              <span class="promo__oldprice">
                1199<span class="promo__currency">₽</span>
              </span>
              <span class="promo__rating">
                4.5
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="promo__item promo__item--heat mix category-2">
        <a class="promo__link" href="#">
          <img class="promo__image" src="../images/promo/juice.jpg" alt="сок">
        </a>
        <div class="promo__box">
          <h4 class="promo__name">
            Сок Granini овощной 100%, 0.5л
          </h4>
          <div class="promo__info">
            <p class="promo__availability promo__availability--end">
              заканчивается
            </p>
            <div class="promo__bottom">
              <span class="promo__price">
                180<span class="promo__currency">₽</span>
              </span>
              <span class="promo__oldprice">
                230<span class="promo__currency">₽</span>
              </span>
              <span class="promo__rating">
                4.9
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="promo__item promo__item--heat mix category-2">
        <a class="promo__link" href="#">
          <img class="promo__image" src="../images/promo/basket.jpg" alt="корзина с фруктами">
        </a>
        <div class="promo__box">
          <h4 class="promo__name">
            Фруктовая корзина, 1 шт
          </h4>
          <div class="promo__info">
            <p class="promo__availability">
              в наличии
            </p>
            <div class="promo__bottom">
              <span class="promo__price">
                3990<span class="promo__currency">₽</span>
              </span>
              <span class="promo__oldprice">
                5990<span class="promo__currency">₽</span>
              </span>
              <span class="promo__rating">
                4.8
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="promo__item promo__item--heat mix category-2">
        <a class="promo__link" href="#">
          <img class="promo__image" src="../images/promo/meat.jpg" alt="свинина">
        </a>
        <div class="promo__box">
          <h4 class="promo__name">
            Свинина мякоть, 1 кг
          </h4>
          <div class="promo__info">
            <p class="promo__availability">
              в наличии
            </p>
            <div class="promo__bottom">
              <span class="promo__price">
                499<span class="promo__currency">₽</span>
              </span>
              <span class="promo__oldprice">
                599<span class="promo__currency">₽</span>
              </span>
              <span class="promo__rating">
                4.6
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="promo__button">
      <button class="promo__btn button" type="button">
        показать еще
      </button>
    </div>
  </div>
</section>