<section class="slider">
  <h1 class="sr-only">Слайдер</h1>
  <ul class="slider__box">
    <li class="slider__item">
      <div class="slider__package" style="background-image: url('images/slider/carrot-bg.jpg')">
        <div class="container">
          <div class="slider__inner">
            <div class="slider__board">
              <h2 class="slider__title">
                свежачок вам в хату
                <span>Скидка -50%</span>
              </h2>
              <div class="slider__text">
                <p>
                  Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                </p>
              </div>
            </div>
            <div class="slider__btn">
              <a class="slider__link button" href="#">
                Купить сейчас
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="slider__item slider__item--tomato">
      <div class="slider__package" style="background-image: url('images/slider/tomato-bg.jpg');">
        <div class="container">
          <div class="slider__inner">
            <div class="slider__board slider__board--tomato">
              <h2 class="slider__title">
                накрути себе томатов
                <span>акция: 3кг по цене 1</span>
              </h2>
              <div class="slider__text">
                <p>
                  Только с 12 по 15 июля скидка на домашние помидорчики
                </p>
              </div>
            </div>
            <div class="slider__btn">
              <a class="slider__link button" href="#">
                Купить сейчас
              </a>
            </div>
          </div>
        </div>
      </div>

    </li>
    <li class="slider__item slider__item--salad">
      <div class="slider__package" style="background-image: url('images/slider/salad-bg.jpg');">
        <div class="container">
          <div class="slider__inner">
            <div class="slider__board slider__board--salad">
              <h2 class="slider__title">
                пусть остальные позеленеют от зависти
                <span>распродажа зелени</span>
              </h2>
            </div>
            <div class="slider__btn">
              <a class="slider__link button" href="#">
                Купить сейчас
              </a>
            </div>
          </div>
        </div>
      </div>

    </li>
  </ul>
</section>