<section class="top-goods" data-ref="container-1">
  <div class="container">
    <div class="top-goods__inner">
      <h3 class="top-goods__title title">
        Топовые товары
      </h3>

      <ul class="filter">
        <li class="filter__item">
          <button class="filter__btn" type="button" data-filter="all">
            все товары
          </button>
        </li>
        <li class="filter__item">
          <button class="filter__btn" type="button" data-filter=".category-a">
            фрукты
          </button>
        </li>
        <li class="filter__item">
          <button class="filter__btn" type="button" data-filter=".category-b">
            овощи
          </button>
        </li>
        <li class="filter__item">
          <button class="filter__btn" type="button" data-filter=".category-c">
            напитки
          </button>
        </li>
        <li class="filter__item">
          <button class="filter__btn" type="button" data-filter=".category-d">
            бакалея
          </button>
        </li>
      </ul>

      <ul class="top-goods__content">
        <li class="top-goods__item mix category-a">
          <article class="card">
            <div class="card__top">
              <div class="card__info">
                <span class="card__new">новинка</span>
                <span class="card__sale">-50%</span>
              </div>
              <span class="sr-only">добавить в избранное</span>
              <a class="card__favorite" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#heart-icon"></use>
                </svg>
              </a>
            </div>
            <a class="card__link" href="#">
              <img class="card__img" src="images/top-goods/pineapple.jpg" width="300" height="225" alt="ананас">
            </a>
            <h3 class="card__name">
              Ананас, 1кг
            </h3>
            <div class="card__bottom">
              <div class="card__price">
                <span class="card__oldprice">
                  1999 <span>₽</span>
                </span>
                999 <span>₽</span>
              </div>
              <button class="card__buy" type="button">
                <span class="sr-only">кнопка купить</span>
              </button>
            </div>
          </article>
        </li>
        <li class="top-goods__item mix category-a">
          <article class="card">
            <div class="card__top">
              <div class="card__info">
              </div>
              <span class="sr-only">добавить в избранное</span>
              <a class="card__favorite" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#heart-icon"></use>
                </svg>
              </a>
            </div>
            <a class="card__link" href="#">
              <img class="card__img" src="images/top-goods/lemon.jpg" width="300" height="225" alt="лимон">
            </a>
            <h3 class="card__name">
              Лимон, 1кг
            </h3>
            <div class="card__bottom">
              <div class="card__price">
                199 <span>₽</span>
              </div>
              <button class="card__buy" type="button">
                <span class="sr-only">кнопка купить</span>
              </button>
            </div>
          </article>
        </li>
        <li class="top-goods__item mix category-a">
          <article class="card">
            <div class="card__top">
              <div class="card__info">
                <span class="card__heat">хит</span>
              </div>
              <span class="sr-only">добавить в избранное</span>
              <a class="card__favorite" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#heart-icon"></use>
                </svg>
              </a>
            </div>
            <a class="card__link" href="#">
              <img class="card__img" src="images/top-goods/dragonfruit.jpg" width="300" height="225"
                alt="драконий фрукт">
            </a>
            <h3 class="card__name">
              Питахайя красная с белой мякотью, 1шт
            </h3>
            <div class="card__bottom">
              <div class="card__price">
                1019 <span>₽</span>
              </div>
              <button class="card__buy" type="button">
                <span class="sr-only">кнопка купить</span>
              </button>
            </div>
          </article>
        </li>
        <li class="top-goods__item mix category-b">
          <article class="card">
            <div class="card__top">
              <div class="card__info">
                <span class="card__new">новинка</span>
              </div>
              <span class="sr-only">добавить в избранное</span>
              <a class="card__favorite" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#heart-icon"></use>
                </svg>
              </a>
            </div>
            <a class="card__link" href="#">
              <img class="card__img" src="images/top-goods/paprik.jpg" width="300" height="225" alt="болгарский перец">
            </a>
            <h3 class="card__name">
              Перец оранжевый, 1кг
            </h3>
            <div class="card__bottom">
              <div class="card__price">
                349 <span>₽</span>
              </div>
              <button class="card__buy" type="button">
                <span class="sr-only">кнопка купить</span>
              </button>
            </div>
          </article>
        </li>
        <li class="top-goods__item mix category-b">
          <article class="card">
            <div class="card__top">
              <div class="card__info">
                <span class="card__heat">хит</span>
              </div>
              <span class="sr-only">добавить в избранное</span>
              <a class="card__favorite" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#heart-icon"></use>
                </svg>
              </a>
            </div>
            <a class="card__link" href="#">
              <img class="card__img" src="images/top-goods/carrot.jpg" width="300" height="225" alt="морковь">
            </a>
            <h3 class="card__name">
              Морковь молодая с бабушкиной грядки, 1кг
            </h3>
            <div class="card__bottom">
              <div class="card__price">
                49 <span>₽</span>
              </div>
              <button class="card__buy" type="button">
                <span class="sr-only">кнопка купить</span>
              </button>
            </div>
          </article>
        </li>
        <li class="top-goods__item mix category-c">
          <article class="card">
            <div class="card__top">
              <div class="card__info">
                <span class="card__sale">-30%</span>
              </div>
              <span class="sr-only">добавить в избранное</span>
              <a class="card__favorite" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#heart-icon"></use>
                </svg>
              </a>
            </div>
            <a class="card__link" href="#">
              <img class="card__img" src="images/top-goods/juice.jpg" width="300" height="225" alt="сок">
            </a>
            <h3 class="card__name">
              Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольный...
            </h3>
            <div class="card__bottom">
              <span class="card__price">
                <div class="card__oldprice">
                  299 <span>₽</span>
                </div>
                199 <span>₽</span>
              </span>
              <button class="card__buy" type="button">
                <span class="sr-only">кнопка купить</span>
              </button>
            </div>
          </article>
        </li>
        <li class="top-goods__item mix category-d">
          <article class="card">
            <div class="card__top">
              <div class="card__info">
                <span class="card__new">новинка</span>
              </div>
              <span class="sr-only">добавить в избранное</span>
              <a class="card__favorite" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#heart-icon"></use>
                </svg>
              </a>
            </div>
            <a class="card__link" href="#">
              <img class="card__img" src="images/top-goods/coffee.jpg" width="300" height="225" alt="кофе">
            </a>
            <h3 class="card__name">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>
            <div class="card__bottom">
              <div class="card__price">
                877 <span>₽</span>
              </div>
              <button class="card__buy" type="button">
                <span class="sr-only">кнопка купить</span>
              </button>
            </div>
          </article>
        </li>
        <li class="top-goods__item mix category-d">
          <article class="card">
            <div class="card__top">
              <div class="card__info">
              </div>
              <span class="sr-only">добавить в избранное</span>
              <a class="card__favorite" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#heart-icon"></use>
                </svg>
              </a>
            </div>
            <a class="card__link" href="#">
              <img class="card__img" src="images/top-goods/ketchup.jpg" width="300" height="225" alt="кетчуп">
            </a>
            <h3 class="card__name">
              Кетчуп томатный детский органический Bio-Zentrale 500мл
            </h3>
            <div class="card__bottom">
              <div class="card__price">
                600 <span>₽</span>
              </div>
              <button class="card__buy" type="button">
                <span class="sr-only">кнопка купить</span>
              </button>
            </div>
          </article>
        </li>
      </ul>

      <div class="top-goods__button">
        <button class="button button--white" type="button">
          Показать еще
        </button>
      </div>
    </div>
  </div>
</section>