.delivery {
  background-color: $silver-100;
  padding: 52px 0;

  @media only screen and (max-width: #{$screen-lg-max}) {
    padding-bottom: 12px;
  }

  @media only screen and (max-width: #{$screen-lg-max}) {
    padding: 30px 0;
  }

  &__inner {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
    @media only screen and (max-width: #{$screen-sm-max}) {
      justify-content: flex-start;
    }
  }

  &__item {
    padding-left: 74px;
    position: relative;
    &::before {
      content: url("../images/delivery/bike.svg");
      position: absolute;
      left: 0;
    }

    &--return::before {
      content: url("../images/delivery/return.svg");
    }

    &--support::before {
      content: url("../images/delivery/support.svg");
    }

    &:not(:first-child) {
      margin-left: 48px;

      @media only screen and (max-width: #{$screen-sm-max}) {
      margin-left: 0;
    }
    }

    &:not(:last-child) {
      @media only screen and (max-width: #{$screen-lg-max}) {
      margin-bottom: 40px;
    }
    }
  }

  &__title {
    font-size: 16px;
    @include Lato(700);
    display: block;
    color: $dark-900;
  }

  &__descr {
    display: block;
    color: $dark-500;
  }
}
