.footer {
  background-color: $dark-800;
}
.footer-top {
  padding: 30px 0;
  color: $white;

  &__logo {
    img {
      @media only screen and (max-width: #{$screen-md-max}) {
        margin: 0 auto;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media only screen and (max-width: #{$screen-md-max}) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__public {
    @media only screen and (max-width: #{$screen-md-max}) {
      order: 3;
    }
  }

  &__text {
    display: block;
    margin-bottom: 18px;
    line-height: 1;

    @media only screen and (max-width: #{$screen-sm-max}) {
      text-align: center;
    }
  }

  &__subscribe {
    display: flex;
  }

  &__input {
    color: $dark-500;
    line-height: 1;
    padding: 12px 50px 12px 12px;
    border-radius: 6px 0px 0px 6px;
    outline: transparent;
  }

  &__btn {
    color: $white;
    background-color: $green-900;
    border-radius: 0px 6px 6px 0px;
    transition: all 0.5s;
    &:hover {
      background-color: #4d810c;
    }
    &:active {
      background-color: $green-900;
      color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
      box-shadow: inset 0px 0px 0px 4px $green-200;
    }
  }

  &__linkbox {
    @media only screen and (max-width: #{$screen-md-max}) {
      order: 2;
      margin-bottom: 29px;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
    margin-left: 100px;
    @media only screen and (max-width: #{$screen-xl-max}) {
      max-width: 500px;
      margin-left: 50px;
    }

    @media only screen and (max-width: #{$screen-md-max}) {
      max-width: 300px;
      margin-left: 0px;
    }
  }

  &__links-item {
    max-width: 33.333%;
    width: 100%;
    margin-bottom: 18px;

    @media only screen and (max-width: #{$screen-md-max}) {
      max-width: 50%;
    }
  }

  &__link {
    transition: opacity 0.4s;
    &:hover {
      opacity: 0.7;
    }
  }

  &__contact {
    @media only screen and (max-width: #{$screen-md-max}) {
      order: 1;
      margin-bottom: 29px;
    }
  }

  &__tel {
    margin-bottom: 18px;
    a {
      transition: opacity 0.4s;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__address {
    margin-bottom: 18px;
  }

  &__social-item {
    display: inline-block;
  }

  &__social-item {
    svg {
      width: 32px;
      height: 32px;
      fill: $white;
      transition: fill 0.5s;
      &:hover {
        fill: $silver-600;
      }
    }

    &:not(:first-child) {
      margin-left: 12px;
    }
  }
}

.footer-bottom {
  border-top: 1px solid $silver-600;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: #{$screen-sm-max}) {
      flex-direction: column;
    }
  }

  &__text {
    color: $white;
    text-transform: uppercase;

    @media only screen and (max-width: #{$screen-sm-max}) {
      order: 2;
      margin-bottom: 24px;
    }
  }

  &__payment {
    display: flex;
    padding: 24px 0;

    @media only screen and (max-width: #{$screen-sm-max}) {
      order: 1;
    }
  }

  &__visa {
    svg {
      width: 93px;
      height: 29px;
      fill: $white;
    }
  }

  &__master {
    svg {
      width: 49px;
      height: 29px;
      fill: $white;
    }
    margin-left: 23px;
  }
}
