.promo {
  background-color: #f5f5f5;
  padding: 72px 0;

  @media only screen and (max-width: #{$screen-md-max}) {
    padding: 50px 0;
  }

  @media only screen and (max-width: #{$screen-sm-max}) {
    padding: 48px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 32px;

    @media only screen and (max-width: #{$screen-sm-max}) {
      margin-bottom: 24px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
    margin-bottom: 48px;

    @media only screen and (max-width: #{$screen-xl-max}) {
      margin-right: 0;
    }

    @media only screen and (max-width: #{$screen-md-max}) {
      margin-bottom: 30px;
    }

    @media only screen and (max-width: #{$screen-sm-max}) {
      margin-bottom: 24px;
    }
  }

  &__item {
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    width: calc(100% / 4 - 30px);
    margin-right: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: $white;
    transition: border-color 0.4s;
    position: relative;

    &:hover {
      border-color: $green-900;
    }
    &::after {
      content: "новинка";
      position: absolute;
      background-color: $green-900;
      text-transform: uppercase;
      color: $white;
      border-radius: 6px;
      font-size: 10px;
      line-height: 1;
      padding: 3px 6px;
      @include Lato(700);
      letter-spacing: 0.3px;
    }

    &--heat {
      &::after {
        content: "хит";
        background-color: $orange-900;
      }
    }

    @media only screen and (max-width: #{$screen-xl-max}) {
      width: calc(100% / 3 - 30px);
    }

    @media only screen and (max-width: #{$screen-lg-max}) {
      width: calc(100% / 2 - 20px);
      margin-bottom: 20px;
    }

    @media only screen and (max-width: #{$screen-sm-max}) {
      width: 100%;
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 12px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 20px;
  }

  &__name {
    flex: 1 1 auto;
    @include Lato(600);
    @include line-clamp(3);
  }

  &__availability {
    font-size: 10px;
    line-height: 1;
    color: $green-900;
    letter-spacing: 0.03em;
    @include Lato(600);
    margin-bottom: 5px;

    &--end {
      color: $red-900;
    }

    &--none {
      color: $silver-600;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__price {
    font-size: 20px;
    line-height: 1;
  }

  &__oldprice {
    font-size: 12px;
    line-height: 1;
    color: $silver-600;
    position: relative;
    &::after {
      content: "";
      border-bottom: 1px solid $silver-600;
      position: absolute;
      width: 100%;
      height: 50%;
      transform: rotate(-15deg);
      left: 0;
    }
  }

  &__rating {
    font-size: 14px;
    line-height: 1;
    padding-right: 19px;
    position: relative;
    &::after {
      content: url("../images/promo/star.svg");
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      right: 0;
    }
  }

  &__button {
    text-align: center;
  }
}
