.top-goods {
  padding: 72px 0;

		&__title {
      text-align: center;
      margin-bottom: 30px;
		}

		&__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -30px;
    }

		&__item {
      border: 1px solid rgba(17, 17, 17, 0.2);
      border-radius: 6px;
      width: calc(100% / 4 - 30px);
      margin-right: 30px;
      margin-bottom: 30px;
      position: relative;
		}

		&__button {
      margin-top: 60px;
      text-align: center;
		}
}

.filter{
  display: flex;
  justify-content: center;

		&__member {
      margin-bottom: 51px;
      &:not(:last-child) {
        margin-right: 24px;
      }
		}

		&__btn {
      color: #505050;
      font-size: 15px;
      text-transform: uppercase;
      background-color: transparent;
      border-bottom: 3px solid transparent;
      transition: all 0.5s;
      &:hover,
      &:active {
        color: #4d800c;
        border-color: #4d800c;
      }
		}
    &__btn:focus {
      border-color: $green-200;
    }
}

.card {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    max-height: 56px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 12px 12px 0 12px;
  }

  &__info {
  }

  &__favorite {
    svg {
      width: 32px;
      height: 29px;
      fill: $silver-600;
      transition: fill 0.4s;
      &:hover {
        fill: #FFB800;
      }
    }
  }

  &__new, 
  &__sale,
  &__heat {
    display: block;
    @extend %lato-700;
    text-transform: uppercase;
    padding: 3px 6px;
    border-radius: 6px;
    color: $white;
    background-color: $green-900;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    margin-bottom: 6px;
  }

  &__sale {
    background-color: $red-900;
    max-width: 37px;
  }

  &__heat {
    background-color: $orange-900;
    max-width: 34px;
  }

  &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 10px;
		}

		&__name {
      font-size: 14px;
      padding: 0 18px;
      margin-bottom: 10px;
      @extend %lato-400;
      flex: 1 1 auto;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
		}

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    
    &__oldprice {
      color: $silver-600;
      position: relative;
      display: block;
      &::after {
        content: "";
        border-bottom: 1px solid $silver-600;
        position: absolute;
        width: 100%;
        height: 50%;
        transform: rotate(-15deg);
        left: 0;
      }
    }

		&__price {
      margin-left: 18px;
      margin-bottom: 18px;
		}

		&__buy {
      width: 32px;
      height: 32px;
      margin-bottom: 18px;
      margin-right: 18px;
      border-radius: 3px;
      background-color: $green-900;
      position: relative;
      transition: all 0.5s;
      &::before {
        content: url('../images/icons/icon-cart-mini.svg');
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 2px;
      }
      &:hover {
        background-color: #4d810c;
      }
      &:active {
        background-color: $green-900;
      }
      &:active::before{
        opacity: 0.5;
      }
      &:focus{
        box-shadow: 0px 0px 0px 4px $green-200;
      }
		}
}